table {
    width: 30%;
    /* color: #369;
    font-family: Ariel, Helvetica, sans-serif; */
    border-collapse: collapse;
}

table tr td {
    padding: 5px;
}

.even {
    background: yellow
}

td, th {
    border: 1px solid black;
}