/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
body {
    font-family: Roboto, Arial, sans-serif;
    margin: 20px;
  }
  .basic-container {
    padding: 30px;
  }
  .version-info {
    font-size: 8pt;
    float: right;
  }

  .flex {
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  box-sizing: border-box;
}
.flex-20 {
  -webkit-flex: 1 1 20%;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  max-width: 20%;
  max-height: 100%;
  box-sizing: border-box;
}
.layout-row .flex-33 {
  -webkit-flex: 1 1 calc(100% / 3);
      -ms-flex: 1 1 calc(100% / 3);
          flex: 1 1 calc(100% / 3);
  box-sizing: border-box;
}
.layout-row  .flex-66 {
  -webkit-flex: 1 1 calc(200% / 3);
      -ms-flex: 1 1 calc(200% / 3);
          flex: 1 1 calc(200% / 3);
  box-sizing: border-box;
}
.layout-row .flex-33 {
  max-width: calc(100% / 3);
  max-height: 100%;
}
.layout-row  .flex-66 {
  max-width: calc(200% / 3);
  max-height: 100%;
}
.layout-column .flex-33 {
  max-width: 100%;
  max-height: calc(100% / 3);
}
.layout-column  .flex-66 {
  max-width: 100%;
  max-height: calc(200% / 3);
}

nav ul {
  list-style-type: none;
  padding: 0;
  background: #eee;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 0.8rem 1rem;
  line-height: 1;
}

nav ul li {
  border-bottom: 1px solid #fff;
}

/* Branding */
nav div:first-child {
  background: #eee;
  text-align: center;
}
nav div:first-child h1 {
  padding: 0.8rem 0;
  margin: 0;

}

nav div:first-child a {
  text-decoration: none;
  color: #343a40;
  
}

nav div:first-child h1, nav ul {
  margin: 0;
}

/* Styling for large devices */
@media only screen and (min-width: 576px) {
  nav ul li a {
    text-decoration: none;
    display: block;
    padding: 0.8rem 2rem;
    line-height: 2;
  }

  nav {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav div:first-child {
    background: none;
  }

  nav div:first-child h1 {
    font-size: 1.2rem;
    margin-left: 0.8rem;
  
  }

  nav div:first-child h1 a {
    color: #eee;
  }

  nav ul {
    display: flex;
    align-items: center;
    background: none;
    flex-wrap: wrap;
  }

  nav ul li {
    border-bottom: none;
    flex: 1 0 auto;
    position: relative;
  }

  nav ul li a { 
    color: #eee;
    text-align: center;
  }

  nav ul li a::before, nav ul li a::after  {
    content: "";                
    position: absolute;
    bottom: 0;
    left: 0;                
    width: 0;
    height: 3px;
    background: tomato;

    transition: .2s width ease-in-out; 
  }

  nav ul li a:hover::after, nav ul li a:hover::before {
    width: 100%;
  }
}