<p>todo works!</p>
<br>
div:style

<div class="container dark shadow medium"></div>

<div style="text-align: center;"></div>

.container.dark.shadow.medium

<div style="text-align:center"></div>
<div style=""></div>

<div class=""></div>

<div style="text-align:center"></div>

<div style="text-align: center;"></div>

<div style="text-align: center"></div>

<div style="text-align: center;"></div>

<div style="text-align: center;"></div>

<div style="text-align: center;"></div>

<div style="text-decoration:wavy"></div>

<div style="text-align: center;"></div>

<ul>
    <li class="item1@-"></li>
    <li class="item2@-"></li>
    <li class="item3@-"></li>
    <li class="item4@-"></li>
    <li class="item5@-"></li>
</ul>
<div class="wrap">
    <p><a href=""></a></p>
    <p></p>
</div>

<div style="text-align:center">
    <header>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </header>
    <footer>
        <p></p>
    </footer>
</div>

<dfn></dfn>
html
p30
